h1{
    color:#491a3e;
    background: #b47ba8;
}

#pink-font{
    color: #b47ba8;
}

.teal-bg{
    background: #183f49;
    color: whitesmoke;
}

.taupe-font{
    color: #5e5142;
}

#purple-font{
    color: #491a3e
}